@charset "UTF-8";

@font-face {
    font-family: 'Sriracha';
    src: url(../fontes/Sriracha-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

    font-family: 'PassionOne';
    src: url(../fontes/PassionOne-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root{
    --titulo: 'PassionOne', Arial, Helvetica, sans-serif;
    --texto: 'Sriracha', Arial, Helvetica, sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--titulo);
    font-variant: small-caps;
    font-size: 8em;
    padding-top: 50px;
}

header > p, a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding-bottom: 50px;
}

a {
    font-weight: bold;
    padding: 0%;
}

a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    box-shadow: 1px 5px 10px #00000059;
    padding-left: 30px;
    padding-top: 66px;
    padding-bottom: 66px;
}

section p {
    font-family: var(--texto);
    font-size: 2.8em;
    line-height: 2em;
    padding-bottom: 90px;
}

section.fundo1{
    background: black url('../imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
    padding-left: 30px;
    padding-top: 66px;
    padding-bottom: 66px;
}

section.fundo2{
    background: black url('../imagens/background002.jpg') right center no-repeat fixed;
    background-size: cover;
    padding-left: 30px;
    padding-top: 66px;
    padding-bottom: 66px;
}

.fundo3{
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    font-size: 2.8em;
    line-height: 2em;
    text-shadow: 1px 1px 0px black;
    max-width: 530px;
    padding: 5px;
    padding-bottom: 90px;
}

footer {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}